/* COLORES FONDO */
$black-bg-fmtm: #0d0d0d;
$grey-bg-fmtm: #1d1d1d;
$ligthgrey-bg-fmtm: #2d2d2d;

/* TYPO COLOR */
$typo-white: #f5f5f5;
$hover: #d9ad5b;
$green:#8BE234;

/* TIPOGRAFIAS DEFINIDAS */
$anchor-typo: 'Montserrat', sans-serif;

/* ALTURA BACK SUBTITULOS */
$height-sub: 130px;

/* MARGENES */
$subtitulos-margin: 0px 30px;