@import "../utilities/vars";

/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap'); /**font-family: 'Montserrat', sans-serif;**/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;900&display=swap'); /**font-family: 'Bebas Neue', cursive;**/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
    line-height: 0.8;
}
h1 {
    font-size: 12rem;
    font-weight: 400;
    color: $typo-white;
    @include mobil {
        font-size: 6rem;
    }
}
h2{
    font-size: 6rem;
    font-weight: 400;
    color: $typo-white;
    @include mobil {
        font-size: 5rem;
    }
}
a span { /*subtitulos de secciones*/
    @include mobil {
        font-size: 5rem;
    }

}
h3 {
    font-size: 3rem;
    color: $typo-white;
    font-weight: 200;
}
h4 {
    font-size: 2rem;
    color: $typo-white;
    font-weight: 200;
}

p {
    font-family: 'Montserrat', sans-serif;
}

