@import "../utilities/vars";
@import "../components/extend";
@import "../layout/grids";
@import "../utilities/medias";

.error {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black-bg-fmtm;
    img {
        width: 500px;

    }
    h1 {
        margin: 15px;
    }
    p {
        font-family: $anchor-typo;
        color: $typo-white;
        font-weight: 600;
        font-size: 1.6rem;
    }
    a {
        background-color: $green;
        text-decoration: none;
        padding: 10px;
        font-size: 2rem;
        font-family: $anchor-typo;
        font-weight: 700;
        text-transform: uppercase;
        color: $black-bg-fmtm;
        width: 200px;
        text-align: center;
        margin: 30px;
        &:hover {
            color: $typo-white;
        }
    }
}

