@import "../utilities/vars";
@import "../utilities/medias";
@import "../layout/grids";

.carousel-item {
    img {
        object-fit: cover;
        object-position: bottom;
        height: 100vh;
        overflow: hidden;
        @include mobil {
            height: auto;
        }
    }
    .carousel-caption {
        text-align: left;
        bottom: 30%;
        left: 150px;
        @include mobil {
        }
        .botellas_hero {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1 {
                background-color: $black-bg-fmtm;
                display: inline-block;
                padding: 10px;
            }
            p {
                background-color: $black-bg-fmtm;
                display: inline-block;
                padding: 10px;
            }
        }
        p {
            font-size: 2rem;
            font-weight: 700;
            color: $typo-white;
            margin-bottom: 15px;
            margin-top: 15px;
            margin-right: 10px;
        }
    }
    .hero__div__anchor {
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: $typo-white;
        padding: 15px;
        @include desktop {
            width: 30%;
        }
        &:hover {
            background-color: $hover;
        }
        a{
            font-family: $anchor-typo;
            color: $black-bg-fmtm;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
    .hero__div__anchor_botellas {
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: $hover;
        padding: 15px;
        @include desktop {
            width: 30%;
        }
        &:hover {
            background-color: $typo-white;
        }
        a{
            font-family: $anchor-typo;
            color: $black-bg-fmtm;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
    
}
button {
    .carousel-control-prev-icon {
        background-image: url(../../../icons/2x/sharp_chevron_left_white_24dp.png)
    }
    .carousel-control-next-icon {
        background-image: url(../../../icons/2x/sharp_chevron_right_white_48dp.png);
    }
}
